// Colors
purple = #D80073
pink = #FF0080
light-pink = #FFE1F1
grey = #8C8C8C
dark-grey = #3B3B3B

//Sizes
size1 = 17px
size2 = 22px
size3 = 60px
size4 = 34px
size5 = 13px

button()
  background-color purple
  color white
  border none
  border-radius: 10px
  height 50px
  width 200px
  font-size: size2
  font-weight: bolder
  margin-top 20px
  cursor pointer
  letter-spacing: 1.2px


*
  padding 0
  margin 0
  list-style none
  text-decoration: none

body
  background white
  font-family: sans-serif
  padding: 0 40px
