// Colors
purple = #D80073
pink = #FF0080
grey = #8C8C8C
dark-grey = #3B3B3B

//Sizes
size1 = 17px
size2 = 22px
size3 = 60px
size4 = 28px
size5 = 13px

button()
  background-color purple
  color white
  border none
  border-radius: 10px
  height 50px
  width 200px
  font-size: size2
  font-weight: bold


*
  padding 0
  margin 0
  list-style none
  text-decoration: none

body
  background white
  font-family: sans-serif
  padding: 0 40px
