.main
  display: grid
  grid-template-columns: repeat(2, auto)
  align-content: center
  &__article
    display: flex
    flex-direction: column
    justify-content: center
    &-title
      font-size: size3
    &-button
      button()
  &__image img
    width: 70%
